{
    "reporter": ["html", "text"],
    "require": ["@babel/register"],
    "sourceMap": false,
    "instument": false,
    "check-coverage": true,
    "lines": 100,
    "statements": 100,
    "functions": 100,
    "branches": 75
}